.jumbotron {
  margin-bottom: 4em;
}
.program-wrapper {
  margin-bottom: 2em;
}

.program-pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892d7;
}

h3 {
  margin-bottom: 1em;
}

.container {
  padding-right: 1px;
  padding-left: 1px;
  margin-right: auto;
  margin-left: auto;
}

.grid-custom {
  width: 100%;
  background-color: hsl(48, 55%, 65%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2ecd3", endColorstr="#d6c374");
  background-image: -khtml-gradient(
    linear,
    left top,
    left bottom,
    from(#f2ecd3),
    to(#d6c374)
  );
  background-image: -moz-linear-gradient(top, #f2ecd3, #d6c374);
  background-image: -ms-linear-gradient(top, #f2ecd3, #d6c374);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f2ecd3),
    color-stop(100%, #d6c374)
  );
  background-image: -webkit-linear-gradient(top, #f2ecd3, #d6c374);
  background-image: -o-linear-gradient(top, #f2ecd3, #d6c374);
  background-image: linear-gradient(#f2ecd3, #d6c374);
  border-color: #d6c374 #d6c374 hsl(48, 55%, 59%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
  -webkit-font-smoothing: antialiased;
}
