#loginTitle {
  text-align: center;
  font-weight: bold;
}

#loginBody input[type='email'] {
  margin-bottom: 21px;
}

#loginBody input[type='email'],
#loginBody input[type='password'] {
  display: block;
  width: 75%;
  height: 48px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 2px;
  font-family: Open Sans, arial, sans-serif;
  color: #1c2024;
  border: 1px solid #c7cdd4;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(83, 95, 107, 0.5);
}
label#email-label,
label#password-label {
  font-family: Open Sans, arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #404848;
  display: block;
  line-height: 1.14;
  margin-bottom: 8px;
  margin-left: 200px;
}
