.btn-custom {
  background-color: hsl(48, 100%, 45%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff1bc", endColorstr="#e5b700");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fff1bc), to(#e5b700));
  background-image: -moz-linear-gradient(top, #fff1bc, #e5b700);
  background-image: -ms-linear-gradient(top, #fff1bc, #e5b700);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff1bc), color-stop(100%, #e5b700));
  background-image: -webkit-linear-gradient(top, #fff1bc, #e5b700);
  background-image: -o-linear-gradient(top, #fff1bc, #e5b700);
  background-image: linear-gradient(#fff1bc, #e5b700);
  border-color: #e5b700 #e5b700 hsl(48, 100%, 34.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}

.btn-custom2 {
  background-color: hsl(51, 35%, 25%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cbc394", endColorstr="#564f29");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cbc394), to(#564f29));
  background-image: -moz-linear-gradient(top, #cbc394, #564f29);
  background-image: -ms-linear-gradient(top, #cbc394, #564f29);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbc394), color-stop(100%, #564f29));
  background-image: -webkit-linear-gradient(top, #cbc394, #564f29);
  background-image: -o-linear-gradient(top, #cbc394, #564f29);
  background-image: linear-gradient(#cbc394, #564f29);
  border-color: #564f29 #564f29 hsl(51, 35%, 14%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.72);
  -webkit-font-smoothing: antialiased;
}
