#signUpTitle {
  text-align: center;
  font-weight: bold;
}

#fname-row,
#lname-row,
#email-row,
#phone-row,
#password-row {
  margin-bottom: 15px;
}

#sacdiscalimer {
  color: black;
  font-size: 11px;
}
