.fa:hover {
    opacity: 0.7;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-right: 5px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  margin-right: 5px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  margin-right: 5px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-right: 5px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  margin-right: 5px;
}
