.App {
  text-align: center;
}

.App-logo {
  //animation: App-logo-spin infinite 20s linear;
  height: 100px;
  margin-bottom: 10em;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Banner-image {
  background-color: #269;
  height: 200px;
  width: 100%;
  padding: 2px;
  color: white;
}
.nav-bar{
  position:fixed;
  width:100%;
  background-color:#222;
  z-index: 1;
  border-radius:0;
  border-color:transparent;
}

.footer {
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
