body {
  margin: 0;
  padding: 0;
  background-color: rgba(f,f,f,1.00);
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #222222;
}

p {
  color: blue;
  font-weight: 300;
}

.body-custom {
  background-color: hsl(199, 93%, 75%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafdfe", endColorstr="#83d4fa");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fafdfe), to(#83d4fa));
  background-image: -moz-linear-gradient(top, #fafdfe, #83d4fa);
  background-image: -ms-linear-gradient(top, #fafdfe, #83d4fa);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafdfe), color-stop(100%, #83d4fa));
  background-image: -webkit-linear-gradient(top, #fafdfe, #83d4fa);
  background-image: -o-linear-gradient(top, #fafdfe, #83d4fa);
  background-image: linear-gradient(#fafdfe, #83d4fa);
  border-color: #83d4fa #83d4fa hsl(199, 93%, 69%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
  -webkit-font-smoothing: antialiased;
}
